body {
    background-color: black;
    color: white;
}
.myNav {
    text-align: center;
    
}
.jumbotron {
    /* border: 1px solid red; */
    text-align: center;

}
/* .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-gap: 50px 100px;
} */
.image {
    margin: 10px 0;
}

