body {
    background-color: black;
    color: white;
}
.myNav {
    text-align: center;
    
}
.jumbotron {
    /* border: 1px solid red; */
    text-align: center;

}
.image {
    margin: 10px 0;
}
#searchBtn {
    margin: 5px; 5px;
}

